.container {
	align-content: center;
}

#timer {
	margin-top: 10px;
	margin-bottom: 10px;
}

#reset:hover {
	color: red;
}

.bomb:hover,
.safe:hover {
	background-color: #cecab7;
}

.grid {
	height: 400px;
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	background-color: #dcd6bc;
	border: 10px solid #dcd6bc;
	margin: 10px auto;
}

div {
	font-size: 20px;
	text-align: center;
	font-family: "Roboto Mono", monospace;
}

.safe {
	height: 40px;
	width: 40px;
	border: 5px solid;
	border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
	box-sizing: border-box;
}

.checked {
	font-size: 25px;
	height: 40px;
	width: 40px;
	border: 2px solid;
	background-color: #cecab7;
	border-color: #9c998d;
	box-sizing: border-box;
}

.bomb {
	font-size: 20px;
	height: 40px;
	width: 40px;
	border: 5px solid;
	border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
	box-sizing: border-box;
}

.flag {
	font-size: 20px;
}

.one {
	color: #e76346;
}

.two {
	color: #4199d3;
}

.three {
	color: #308b31;
}

.four {
	color: #bb41d3;
}

#result {
	margin-top: 5px;
	color: #e76346;
}
